
@{
    ViewBag.Title = "ولوت - صفحه قوانین";
    ViewBag.SEOkeywords = "پارچه-گالری-پارچه-ولوت-پارچه-مرغوب";
    ViewBag.SEOdescription = "شرایط و قوانین استفاده از خدمات ولوت";
    Layout = "~/Views/SharedViewPages/CustomerSide/CustomerMaster.cshtml";
}


<section class="section-img with-overlay page-custom-header page-top-light tshmbcust" style="background-image:url('@Url.Content("~/resource/images/mess.jpg")');">
    <div class="section-overlay-light" style="        background-color: rgba(255, 255, 255, 0.8);
">
        <div class="container" style="margin-top: 80px;">
            <div class="row">
                <div class="col-md-12 header-inline">
                    <div class="header-inline-content">
                        <h3 class="page-title text-tertiary"><strong>قوانین خرید از گالری پارچه ولوت</strong></h3>
                    </div>
                    <div class="header-inline-content header-inline-breadcrumb custom-nav">
                        <ul class="breadcrumb">
                            <li><a href="@Url.Action("index","CustomerSide_Pages")">ولوت</a></li>
                            <li class="active">قوانین</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div style="padding-bottom: 30px;">
    <div class="container">
        <div id="tab2" class="tab-pane">
            <div class="panel-group no-border no-color panel-icon-right pad-top-50 rules-div">
                <h4 class="text-uppercase letter-spacing-1 no-margin pad-bot-30">
                    <strong>
                        <i class="fa fa-chevron-left tshfatrtry3"></i>
                        شرایط و قوانین استفاده از خدمات ولوت
                    </strong>
                </h4>
                <p>
                    کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات ولوت به دقت ملاحظه فرمایید.<br>
                    ورود کاربران به وب‏‌سایت ولوت هنگام استفاده از پروفایل شخصی ولوت ‌ و سایر خدمات ارائه شده توسط ولوت به معنای آگاه بودن و پذیرفتن شرایط و قوانین و همچنین نحوه استفاده از خدمات ولوت است.<br> توجه داشته باشید که ثبت سفارش نیز در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین ولوت از سوی کاربر است.<br>
                    لازم به ذکر است شرایط و قوانین مندرج، جایگزین کلیه توافق‏‌های قبلی محسوب می‏‌شود.<br>

                </p>
                <h4 class="text-uppercase letter-spacing-1 no-margin pad-bot-30">
                    <strong>
                        <i class="fa fa-chevron-left tshfatrtry3"></i>
                        قوانین عمومی
                    </strong>
                </h4>
                <p>
                    توجه داشته باشید کلیه اصول و رویه‏‌های ولوت  منطبق با قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز موظف به رعایت قوانین مرتبط با کاربر است.<br> در صورتی که در قوانین مندرج، رویه‏‌ها و سرویس‏‌های ولوت تغییراتی در آینده ایجاد شود، در همین صفحه منتشر و به روز رسانی می شود و شما توافق می‏‌کنید که استفاده مستمر شما از سایت به معنی پذیرش هرگونه تغییر است.<br>
                </p>
                <h4 class="text-uppercase letter-spacing-1 no-margin pad-bot-30">
                    <strong>
                        <i class="fa fa-chevron-left tshfatrtry3"></i>
                        تعریف مشتری یا کاربر
                    </strong>
                </h4>
                <p>
                    مشتری یا کاربر به شخصی گفته می‌شود که با اطلاعات کاربری خود که در فرم ثبت‌نام درج کرده است، به ثبت سفارش یا هرگونه استفاده از خدمات ولوت اقدام کند.<br>
                </p>
                <h4 class="text-uppercase letter-spacing-1 no-margin pad-bot-30">
                    <strong>
                        <i class="fa fa-chevron-left tshfatrtry3"></i>
                        ارتباطات الکترونیکی
                    </strong>
                </h4>
                <p>
                    هنگامی که شما از سرویس‌‏ها و خدمات ولوت استفاده می‏‌کنید، سفارش اینترنتی خود را ثبت یا خرید می‏‌کنید و یا به ولوت ایمیل می‏‌زنید، این ارتباطات به صورت الکترونیکی انجام می‏‌شود و در صورتی که درخواست شما با رعایت کلیه اصول و رویه‏‌ها باشد، شما موافقت می‌‏کنید که ولوت به صورت الکترونیکی (از طریق پست الکترونیکی، سرویس پیام کوتاه و سایر سرویس‌های الکترونیکی) به درخواست شما پاسخ دهد.<br>
                    همچنین آدرس ایمیل و تلفن‌هایی که مشتری در پروفایل خود ثبت می‌کند، تنها آدرس ایمیل و تلفن‌های رسمی و مورد تایید مشتری است و تمام مکاتبات و پاسخ‌های شرکت از طریق آنها صورت می‌گیرد.<br>
                    توجه داشته باشید که ______________ تنها شماره‌‌ای است که ولوت از طریق آن برای کاربران و مشتریان خود پیامک (اس ام اس) ارسال می‌کند.<br> همچنین این شماره‌‌ سامانه ارسال پیامک است که وضعیت پردازش سفارش یا رویدادها، خدمات و سرویس‌های ویژه ولوت را به اطلاع کاربران می‌رساند و روشن است که امکان دریافت پیام‌های شما از طریق آن وجود ندارد.<br>
                    بنابراین ارسال هرگونه پیامک تحت عنوان ولوت، با هر شماره دیگری تخلف و سوء استفاده از نام ولوت است و در صورت دریافت چنین پیامکی، لطفاً جهت پیگیری قانونی آن را به ___________  اطلاع دهید.<br>

                </p>
                <h4 class="text-uppercase letter-spacing-1 no-margin pad-bot-30">
                    <strong>
                        <i class="fa fa-chevron-left tshfatrtry3"></i>
                        سیاست‏‌های رعایت حریم شخصی
                    </strong>
                </h4>
                <p>
                    ولوت به اطلاعات خصوصی اشخاصى که از خدمات سایت استفاده می‏‌کنند، احترام گذاشته و از آن محافظت می‏‌کند.<br>
                    ولوت متعهد می‏‌شود در حد توان از حریم شخصی شما دفاع کند و در این راستا، تکنولوژی مورد نیاز برای هرچه مطمئن‏‌تر و امن‏‌تر شدن استفاده شما از سایت را، توسعه دهد.<br> در واقع با استفاده از سایت ولوت، شما رضایت خود را از این سیاست نشان می‏‌دهید.<br>
                    همه مطالب در دسترس از طریق هر یک از خدمات ولوت، مانند متن، گرافیک، آرم، آیکون دکمه، تصاویر، ویدئوهای تصویری، موارد قابل دانلود و کپی، داده‌ها و کلیه محتوای تولید شده توسط ولوت جزئی از اموال ولوت محسوب می‏‌شود و حق استفاده و نشر تمامی مطالب موجود و در دسترس در انحصار ولوت است و هرگونه استفاده بدون کسب مجوز کتبی، حق پیگرد قانونی را برای ولوت محفوظ می‏‌دارد.<br> علاوه بر این، اسکریپت‌ها، و اسامی خدمات قابل ارائه از طریق هر یک از خدمات ایجاد شده توسط ولوت و علائم تجاری ثبت شده نیز در انحصار ولوت است و هر گونه استفاده با مقاصد تجاری پیگرد قانونی دارد.<br>
                    کاربران مجاز به بهره‌‏برداری و استفاده از لیست محصولات، مشخصات ، قیمت و هر گونه استفاده از مشتقات وب‏‌سایت ولوت و یا هر یک از خدمات و یا مطالب، دانلود یا کپی کردن اطلاعات با مقاصد تجاری، هر گونه استفاده از داده کاوی، روبات، یا روش‌‏های مشابه مانند جمع آوری داده‌‏ها و ابزارهای استخراج نیستند و کلیه این حقوق به صراحت برای ولوت محفوظ است.<br> در صورت استفاده از هر یک از خدمات ولوت، کاربران مسئول حفظ محرمانه بودن حساب و رمز عبور خود هستند و تمامی مسئولیت فعالیت‌‏هایی که تحت حساب کاربری و یا رمز ورود انجام می‏‌پذیرد به عهده کاربران است.<br>
                    تنها مرجع رسمی مورد تایید ما برای ارتباط با شما، پایگاه رسمی این سایت یعنی velvet.<br>store است.<br> ما با هیچ روش دیگری جز ارسال نامه از طرف آدرس‏‌های رسمی و تایید شده در سایت، با شما تماس نمی‌‏گیریم.<br>
                    وب سایت ولوت هیچگونه سایت اینترنتی با آدرسی غیر از velvet.<br>store و همچنین ،هیچ گونه وبلاگ و شناسه در برنامه‏‌های گفتگوی اینترنتی همچون Yahoo Messenger یا MSN Messenger و غیره ندارد و هیچ ‏گاه با این روش‏‌ها با شما تماس نمی‏‌گیرد.<br> کاربران جهت برقراری ارتباط، تنها می‏‌توانند از آدرس‌‏های ذکر شده در بخش ارتباط با ما استفاده کنند.<br>

                </p>
                <h4 class="text-uppercase letter-spacing-1 no-margin pad-bot-30">
                    <strong>
                        <i class="fa fa-chevron-left tshfatrtry3"></i>
                        ثبت، پردازش و ارسال سفارش
                    </strong>
                </h4>
                <p>
                    روز کاری به معنی روز شنبه تا پنج شنبه هر هفته، به استثنای تعطیلات عمومی در ایران است و کلیه سفارش‏‌های ثبت شده در طول روزهای کاری و اولین روز پس از تعطیلات پردازش می‌‏شوند.<br> ولوت به مشتریان خود در 7 روز هفته و 24 ساعت در روز امکان سفارش‌‏گذاری می‌‏دهد.<br>
                    ولوت همواره در ارسال و تحویل کلیه سفارش‌‏های ثبت شده، نهایت دقت و تلاش خود را انجام می‌دهد.<br> با وجود این، در صورتی که موجودی محصولی در ولوت به پایان برسد، حتی پس از اقدام مشتری به سفارش‌‏گذاری، حق لغو آن سفارش و یا استرداد وجه سفارش از ولوت محفوظ است و یا مشتری می‏‌تواند به جای کالای به اتمام رسیده، محصول دیگری را جایگزین کند.<br>
                    در صورت بروز مشکل در پردازش نهایی سبد خرید مانند اتمام موجودی کالا یا انصراف مشتری قبل از آماده سازی محصول ، مبلغ پرداخت شده طی 24 الی 48 ساعت کاری به حساب مشتری واریز خواهد شد.<br>
                    ولوت مجاز است بدون اطلاع قبلی نسبت به توقف سفارش‌‏گیری جدید، اقدام و فروش خود را متوقف کند و کلیه سفارش‌‏های ثبت شده قبل از توقف سفارش‌‏گیری، پردازش و ارسال می‌‏شود.<br> حق قطع فروش کلیه و یا بخشی از محصولات به هر دلیلی مانند اتمام موجودی کالا بدون اطلاع قبلی، برای ولوت محفوظ است.<br>
                    کاربران باید هنگام سفارش کالای مورد نظر خود، فرم سفارش را با اطلاعات صحیح و به طور کامل تکمیل کنند.<br> بدیهی است درصورت ورود اطلاعات ناقص یا نادرست، سفارش کاربر قابل پیگیری و تحویل نخواهد بود.<br> بنابراین درج آدرس، ایمیل و شماره تماس‌های همراه و ثابت توسط مشتری، به منزله مورد تایید بودن صحت آنها است و در صورتی که این موارد به صورت صحیح یا کامل درج نشده باشد، ولوت جهت اطمینان از صحت و قطعیت ثبت سفارش می‌تواند از مشتری، اطلاعات تکمیلی و بیشتری درخواست کند.<br>همچنین، مشتریان می‌توانند نام، آدرس و تلفن شخص دیگری را برای تحویل گرفتن سفارش وارد کنند .<br>تحویل گیرنده سفارش هنگام دریافت کالا باید کارت شناسایی همراه داشته باشد.<br>
                    کاربری هر مشتری شامل نام و نام خانوادگی باید با اطلاعات مدارک شناسایی مطابقت داشته باشد و در صورت عدم تطابق، فروشگاه‌‌های اینترنتی مجاز به ارائه خدمات به این گروه از مشتریان نخواهد بود.<br> لذا خریداران محترم می بایست با خرید از طریق کارت بانکی متعلق به شخص خریدار که با هویت سفارش دهنده در تطابق می باشد، اقدام به ثبت سفارش نمایند.<br>
                    لازم به ذکر است که این امر به منظور جلوگیری از سواستفاده‌های احتمالی و مواردی نظیر جلوگیری از خرید با کارت‌های سرقت شده و موارد مشابه در نظر گرفته شده است.<br>
                    - با توجه به ثبت سیستمی سفارش، به هیچ عنوان امکان صدور فاکتور مجدد یا تغییر مشخصات آن وجود ندارد

                    - از آنجا که ولوت یک وب‌سایت خرده‌فروشی آنلاین است، سفارش یک کالا به تعداد بالا، مغایر با هدف مصرف خریدار است، در صورت ثبت این مورد و یا سفارشاتی که با تعداد اقلام بالایی همراه هستند، لازم است پیش از ارسال، سفارش مشتریان ابتدا توسط ولوت بررسی و در صورت تایید، پردازش گردد.<br> در این موارد پرداخت وجه و تسویه، قبل از ارسال کالا الزامی است؛ درغیر اینصورت سفارشات با هماهنگی مشتری کنسل شده و در صورت واریز وجه، مبلغ پرداخت شده طی 24 الی 48 ساعت کاری به حساب مشتری عودت داده خواهد شد.<br>
                    تحویل سفارش در اماکن عمومی همچون کافه، کافی نت، رستوران، هتل و مانند آن امکان‌پذیر نیست و لازم است آدرس تحویل، دقیق و قابل استناد باشد

                    لازم به ذکر است افزودن کالا به سبد خرید به معنی رزرو کالا نیست و هیچ گونه حقی را برای مشتریان ایجاد نمی‌کند.<br> همچنین تا پیش از ثبت نهایی، هرگونه تغییر از جمله تغییر در موجودی کالا یا قیمت، روی کالای افزوده شده به سبد خرید اعمال خواهد شد.<br> بنابراین به مشتریانی که تمایل و تصمیم به خرید قطعی دارند، به‌ویژه درباره کالاهای ارائه شده تحت عنوان شگفت‌انگیز که دارای محدودیت تعداد هستند، توصیه می‌شود در اسرع وقت سفارش خود را نهایی کنند تا با اتمام موجودی یا تغییر قیمتی کالاها روبرو نشوند.<br> شایان ذکر است سفارش تنها زمانی نهایی می‌شود که کاربران کد سبد خرید  سفارش خود را دریافت کنند و بدیهی است که ولوت هیچ‌گونه مسوولیتی نسبت به کالاهایی که در سبد خرید رها شده است، ندارد.<br>

                </p>
                <h4 class="text-uppercase letter-spacing-1 no-margin pad-bot-30">
                    <strong>
                        <i class="fa fa-chevron-left tshfatrtry3"></i>
                        شرایط و قوانین درج نظر در بخش نظرات کاربران
                    </strong>
                </h4>
                <p>
                    فارسی بنویسید و از کیبورد فارسی استفاده کنید.<br> بهتر است از فضای خالی (Space) بیش از حد معمول، کشیدن حروف یا کلمات، استفاده‌ی مکرر از یک حرف یا کلمه، شکلک و اموجی در متن خودداری کنید.<br>
                    برای نظر یا نقد و بررسی خود عنوانی متناسب با متن انتخاب کنید.<br> یک عنوان خوب کاربران را برای خواندن نظر شما ترغیب خواهد کرد.<br>
                    نقد کاربران باید شامل قوت‌ها و ضعف‌های محصول در استفاده‌ی عملی و تجربه‌ی شخصی باشد و مزایا و معایب به‌صورت خلاصه و تیتروار در محل تعیین‌شده درج شود.<br> لازم است تا حد ممکن از مبالغه و بزرگ‌نمایی مزایا یا معایب محصول خودداری کنید.<br>
                    نقد مناسب، نقدی است که فقط معایب یا فقط مزایا را در نظر نگیرد؛ بلکه به‌طور واقع‌بینانه معایب و مزایای هر محصول را در کنار هم بررسی کند.<br>
                    با توجه به تفاوت در سطح محصولات مختلف و تفاوت عمده در قیمت‌های آن‌ها، لازم است نقد و بررسی هر محصول با توجه به قیمت آن صورت گیرد؛ نه به‌صورت مطلق.<br>
                    جهت احترام‌گذاشتن به وقت بازدیدکنندگان سایت، لازم است هنگام نوشتن نقد، مطالب غیرضروری را حذف کرده و فقط مطالب ضروری و مفید را در نقدتان لحاظ کنید.<br>
                    کاربران ارسال‌کننده‌ی نظر موظف‌اند از ادبیات محترمانه استفاده کرده و از توهین به دیگر کاربران یا سایر افراد پرهیز کنند.<br> بدیهی است هرگونه توهین به فرد یا افراد و استفاده از کلمات نامناسب، باعث تاییدنشدن نظر کاربر می‌شود.<br>
                    تمام کاربران حق دارند نظرات خود را به شرط رعایت قوانین، در سایت منتشر کنند؛ لذا حتی اگر نظری را به دور از واقعیت، جانب‌دارانه یا اشتباه یافتید، نباید نظردهنده را مخاطب قرار دهید یا از وی انتقاد کنید.<br> هر کاربر تنها می‌تواند نظر خود را عنوان کرده و قضاوت را به خوانندگان نظرات واگذار کند.<br>
                    در نظرات خود، از بزرگ‌نمایی یا اغراق درباره‌ی قوت‌ها یا ضعف‌های محصول خودداری کنید.<br> بدیهی است تا حد ممکن هرگونه نظر مبالغه‌آمیز یا به دور از واقعیت تایید نخواهد شد.<br>
                    با توجه به مسئولیت سایت در قبال لینک‌های موجود در آن، نباید لینک سایت‌های دیگر را در نظرات خود ثبت کنید.<br> دقت داشته باشید تا جای ممکن از هرگونه لینک‌دادن (فرستادن) دیگر کاربران به سایت‌های دیگر و درج ایمیل یا نام کاربری شبکه‌های اجتماعی خودداری کنید.<br>
                    تنها نظراتی تایید خواهند شد که مرتبط با محصول موردنظر باشند؛ لذا بحث‌های متفرقه و غیرمرتبط با محصول را مطرح نکنید.<br>
                    توجه داشته باشند، مسائلی را که از آن اطمینان ندارید، به‌هیچ‌وجه در نظرات ثبت نکنید؛ همچنین از بازنشر شایعات یا اطلاعات غیرمطمئن درباره‌ی محصولات جدا خودداری کنید.<br>
                    بهتر است مطالبی در این بخش ثبت شود که برای بازدیدکنندگان سایت مفید باشد؛ لذا از بیان هرگونه مطالب شخصی، غیرمرتبط یا غیرضروری در این بخش پرهیز کنید.<br>
                    لازم است نظرات خود را به صورت نگارشی ثبت کرده و از کوتاه‌کردن کلمات یا استفاده از ادبیات محاوره تا جای ممکن خودداری کنید.<br> استفاده از ادبیات نوشتاری که قابلیت نمایش در سایت را داشته باشد، لازمه‌ی تایید نظرات کاربران است.<br>

                </p>
                <h4 class="text-uppercase letter-spacing-1 no-margin pad-bot-30">
                    <strong>
                        <i class="fa fa-chevron-left tshfatrtry3"></i>
                        محتوا
                    </strong>
                </h4>
                <p>
                    وب ‏‌سایت ولوت هیچ گونه مسوولیتی را در رابطه با حذف شدن صفحه‏‌های سایت خود و یا لینک‏‌های مرده نمی‌‏پذیرد.<br> سروﻳس‌‏های سایت آن‏گونه که هست ارائه می‏‌شود و سایت ولوت تحت هیچ شرایطی مسوولیت تاخیر یا عدم کارکرد سایت را که می‌تواند ناشى از عوامل طبیعى، نیروى انسانی، مشکلات اینترنتى، خرابی تجهیزات کامپیوترى، مخابراتى و غیره باشد بر عهده ندارد.<br>
                    سایت ولوت ممکن است دارای سرویس‌‏هایی با قابلیت مشارکت عمومی موسوم به سرویس‌‏های جمعی، همچون اتاق گفتگو، تابلوی اعلانات، تالار گفتگو، نقد، گروه‌‏های خبری، شبکه دوستان و سرویس‏‌های دیگری باشد که برای تسهیل ارتباط شما با دیگران (چه در مقیاس عمومی مثل تالار گفتگو و چه در مقیاس خصوصی مثل شبکه خصوصی دوستان) ارائه می‏‌شوند.<br> شما توافق می‏‌کنید که از این سرویس‏‌های جمعی، فقط برای ثبت، ارسال و دریافت پیام‏‌هایی استفاده کنید که مناسب و مرتبط با آن سرویس خاص باشد.<br>

                    © کلیه محتویات سایت ولوت شامل قانون حق تکثیر شده و به سایت ولوت تعلق دارد.<br>

                </p>
                <h4 class="text-uppercase letter-spacing-1 no-margin pad-bot-30">
                    <strong>
                        <i class="fa fa-chevron-left tshfatrtry3"></i>
                        سیاست قیمت گذاری
                    </strong>
                </h4>
                <p>
                    سیاست قیمت‌‏گذاری در ولوت مبتنی بر اصول مشتری مداری و احترام به حقوق مصرف کننده است.<br> قیمت‏‌های ارائه شده برای کالاها در ولوت قیمت‏‌های خرده فروشی است که غالباً توسط تولید‏کننده و یا تامین‏‌کننده آن محصول به صورت مصوب تعیین شده است و سایر کالاها بر اساس مدل و مشخصات و همچنین کالاهای مشابه در بازار تعیین قیمت می‌‏شوند.<br>
                    با نهایت احترام به کاربران ولوت نمی‌تواند قیمت و موجودی نهایی کالاها را قبل از سفارش گذاری به صورت قطعی اعلام نماید.<br> در مواردی بسیار نادر و در صورت وجود نوسان‌‏هایی در بازار و یا اشتباه در قیمت‌‏گذاری، اگر سفارشی قابل تحویل نباشد، ولوت موظف است در اسرع وقت این موضوع را به فرد سفارش‌ ‏دهنده اطلاع دهد و سفارش را لغو نماید.<br> لازم به ذکر است در صورتی که کالایی پس ثبت سفارش شامل کاهش قیمت شود، سفارش به روز رسانی و قیمت جدید اعمال می‏‌شود.<br> قیمت کلیه محصولات با احتساب مالیات بر ارزش افزوده است و مشتری مبلغ جداگانه‌‏ای بابت مالیات و عوارض ارزش افزوده پرداخت نمی‏‌کند و هزینه‏‌های بسته‌بندی، ارسال و بیمه حمل کالا بسته به شرایط سفارش که در فرم سبد خرید اطلاع‌ ‏رسانی می‌‏شود، ممکن است جداگانه محاسبه شود.<br>

                </p>
                <h4 class="text-uppercase letter-spacing-1 no-margin pad-bot-30">
                    <strong>
                        <i class="fa fa-chevron-left tshfatrtry3"></i>
                        قوه قهریه
                    </strong>
                </h4>
                <p>
                    تمامی شرایط و قوانین مندرج، در شرایط عادی قابل اجرا است و در صورت بروز هرگونه از موارد قوه قهریه، ولوت هیچ گونه مسئولیتی ندارد.<br>
                    ولوت خود را ملزم به رعایت حریم شخصی کاربران می‌داند، لطفا در صورت مشاهده هرگونه تخلف، مراتب را از طریق کانال‏‌های ارتباطی ذکر شده با ما در میان بگذارید.<br>

                </p>
                <br>
            </div>
        </div>
    </div>
</div>
<section style="display:none" class="faq col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="container">
        <div class="faq-inner col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul>
                <li>
                    <h4>
                        <i class="fa fa-plus"></i>-
                        سوال سوال سوال سوال سوال سوال سوال سوال سوال سوال سوال سوال سوال؟
                    </h4>
                    <p>
                        شرایط و قوانین استفاده از سرویس‌ها و خدمات انتشارات جنگل ورود کاربران به وب‏‌سایت انتشارات جنگل هنگام استفاده از پروفایل شخصی، و سایر خدمات ارائه شده توسط انتشارات جنگل به معنای آگاه بودن و پذیرفتن شرایط، قوانین و همچنین نحوه استفاده از سرویس‌‏ها و خدمات است. توجه داشته باشید که ثبت سفارش نیز در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین از سوی کاربر است. ق
                    </p>
                </li>
                <li>
                    <h4>
                        <i class="fa fa-plus"></i>-
                        سوال سوال سوال سوال سوال سوال سوال سوال سوال سوال سوال سوال سوال؟
                    </h4>
                    <p>
                        شرایط و قوانین استفاده از سرویس‌ها و خدمات انتشارات جنگل ورود کاربران به وب‏‌سایت انتشارات جنگل هنگام استفاده از پروفایل شخصی، و سایر خدمات ارائه شده توسط انتشارات جنگل به معنای آگاه بودن و پذیرفتن شرایط، قوانین و همچنین نحوه استفاده از سرویس‌‏ها و خدمات است. توجه داشته باشید که ثبت سفارش نیز در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین از سوی کاربر است. ق
                    </p>
                </li>
                <li>
                    <h4>
                        <i class="fa fa-plus"></i>-
                        سوال سوال سوال سوال سوال سوال سوال سوال سوال سوال سوال سوال سوال؟
                    </h4>
                    <p>
                        شرایط و قوانین استفاده از سرویس‌ها و خدمات انتشارات جنگل ورود کاربران به وب‏‌سایت انتشارات جنگل هنگام استفاده از پروفایل شخصی، و سایر خدمات ارائه شده توسط انتشارات جنگل به معنای آگاه بودن و پذیرفتن شرایط، قوانین و همچنین نحوه استفاده از سرویس‌‏ها و خدمات است. توجه داشته باشید که ثبت سفارش نیز در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین از سوی کاربر است. ق

                    </p>
                </li>
                <li>
                    <h4>
                        <i class="fa fa-plus"></i>-
                        سوال سوال سوال سوال سوال سوال سوال سوال سوال سوال سوال سوال سوال؟
                    </h4>
                    <p>
                        شرایط و قوانین استفاده از سرویس‌ها و خدمات انتشارات جنگل ورود کاربران به وب‏‌سایت انتشارات جنگل هنگام استفاده از پروفایل شخصی، و سایر خدمات ارائه شده توسط انتشارات جنگل به معنای آگاه بودن و پذیرفتن شرایط، قوانین و همچنین نحوه استفاده از سرویس‌‏ها و خدمات است. توجه داشته باشید که ثبت سفارش نیز در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین از سوی کاربر است. ق
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>

