@*@model BamboPortal_V1._0._0._0.ModelViews.CustomerSide.ProductDetail_ModelView*@
@{
    Layout = "~/Views/SharedViewPages/CustomerSide/CustomerMaster.cshtml";
    ViewBag.IsUserLogin = false;

}

<div class="container ppres" style="padding-top: 80px;">

    <div class="row vertical-center-box">
        <div class="col-md-12 no-padding">
            <div id="shop-carousel" class="carousel slide no-margin col-md-6" data-ride="carousel" style="float: right">
                <div class="carousel-inner text-light">
                    <div class="item active">
                        <a href="images/shop/products/shoe-1.png" data-lightbox-gallery="gallery-shop">
                            <img alt="image" class="img-responsive center-block" src="images/shop/products/shoe-1.png" onerror="this.onerror=null;this.src='/resource/images/Customes/imgNotFound.jpg'">
                        </a>
                    </div>
                    <div class="item">
                        <a href="images/shop/products/shoe-2.png" data-lightbox-gallery="gallery-shop">
                            <img alt="image" class="img-responsive center-block" src="images/shop/products/shoe-2.png" onerror="this.onerror=null;this.src='/resource/images/Customes/imgNotFound.jpg'">
                        </a>
                    </div>
                    <div class="item">
                        <a href="images/shop/products/shoe-3.png" data-lightbox-gallery="gallery-shop">
                            <img alt="image" class="img-responsive center-block" src="images/shop/products/shoe-3.png" onerror="this.onerror=null;this.src='/resource/images/Customes/imgNotFound.jpg'">
                        </a>
                    </div>
                    <!--<a class="left carousel-control single-prd-btn" href="#shop-carousel" role="button" data-slide="next">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right carousel-control single-prd-btn" href="#shop-carousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-right"></i>
                    </a>-->
                </div>
                <ul class="shop-thumbnails mar-bot-30">
                    <li>
                        <div data-target="#shop-carousel" data-slide-to="0">
                            <a href="#" class="thumb thumb-active">
                                <img alt="image" class="img-responsive" src="images/shop/products/shoe-1.png" onerror="this.onerror=null;this.src='/resource/images/Customes/imgNotFound.jpg'">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div data-target="#shop-carousel" data-slide-to="1">
                            <a href="#" class="thumb">
                                <img alt="image" class="img-responsive" src="images/shop/products/shoe-2.png" onerror="this.onerror=null;this.src='/resource/images/Customes/imgNotFound.jpg'">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div data-target="#shop-carousel" data-slide-to="2">
                            <a href="#" class="thumb">
                                <img alt="image" class="img-responsive" src="images/shop/products/shoe-3.png" onerror="this.onerror=null;this.src='/resource/images/Customes/imgNotFound.jpg'">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <section class="section-colored theme-background-light clearfix no-margin col-md-6" style="padding-bottom: 0px; padding-top: 40px;float: left;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase no-margin pad-bot-30 letter-spacing-1">
                                <strong>
                                    -
                                    نام محصول
                                </strong>
                            </h4>
                            <span class="desc-title pad-right-15 pad-left-15">
                                <i class="fa fa-chevron-left tshfatrtry3"></i>
                                توضیحات
                            </span>
                            <div class="tab-theme">
                                <div class="tab-content">
                                    <div id="tab1" class="tab-pane active no-padding-bottom prd-dtl-p0">
                                        <p class="pad-right-15 pad-left-15 mar-bot-30 text-justify">
                                            <small>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                            </small>
                                        </p>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                            <div class="select-option col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <span class="desc-title title-no-border">
                                                    <i class="fa fa-chevron-left tshfatrtry3"></i>
                                                    رنگ
                                                </span>
                                                <div class="custom-select" style="width:200px;">
                                                    <select>
                                                        <option value="0">انتخاب رنگ</option>
                                                        <option value="1">رنگ 1</option>
                                                        <option value="2">رنگ 2</option>
                                                        <option value="3">رنگ 3</option>
                                                        <option value="4">رنگ 4</option>
                                                        <option value="5">رنگ 5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="select-option col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <span class="desc-title title-no-border">
                                                    <i class="fa fa-chevron-left tshfatrtry3"></i>
                                                    طرح
                                                </span>
                                                <div class="custom-select" style="width:200px;">
                                                    <select>
                                                        <option value="0">انتخاب طرح</option>
                                                        <option value="1">طرح 1</option>
                                                        <option value="2">طرح 2</option>
                                                        <option value="3">طرح 3</option>
                                                        <option value="4">طرح 4</option>
                                                        <option value="5">طرح 5</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="select-shop pad-right-15 pad-left-15 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <span class="desc-title title-no-border">
                                                    <i class="fa fa-chevron-left tshfatrtry3"></i>
                                                    متراژ
                                                </span>
                                                <div>
                                                    <div class="mar-bot-30 met-input">
                                                        <input type='button' value='-' class='qtyminus btn pccm1' title='quantity1' />
                                                        <input type='text' value='1' class='qty mmmm' style="width:100px;" />
                                                        <input type='button' value='+' class='qtyplus btn mccm1' title='quantity1' />
                                                        <p>متر</p>
                                                    </div>
                                                    <div class="mar-bot-30 met-input">
                                                        <input type='button' value='-' class='qtyminus btn pccm2' title='quantity1' />
                                                        <input type='text' value='25' class='qty cmmm' style="width:100px;" />
                                                        <input type='button' value='+' class='qtyplus btn mccm2' title='quantity1' />
                                                        <p>سانتی متر</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-2 col-sm-12 col-xs-12">
                                            <div class="text-left tshspbb col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="tshspbb-right col-lg-6 col-md-6 col-sm-12 col-xs-12" style="display: none!important;">
                                                    <span class="price price-title" style="margin-top: 6px!important;">4,500,000</span>
                                                </div>
                                                <div class="tshspbb-right tshspbb-right-off col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <span class="price price-title" style="margin: 0!important;">4,500,000</span>
                                                </div>
                                                <div class="tshspbb-left add-cart-btn col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <a href="#" class="btn btn-success btn-lg">
                                                        <i class="fa fa-shopping-cart" style="margin-left: 2px;"></i>
                                                        افزودن به سبد خرید
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4 class="text-uppercase letter-spacing-1 no-margin col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <strong>
                    <i class="fa fa-chevron-left tshfatrtry3"></i>
                    مشخصات محصول
                </strong>
            </h4>
            <table class="table prd-det-border table-hover prod-det shop-table text-uppercase letter-spacing-1 mar-top-30 mar-bot-30 weight-400">
                <tr class="shop-first-row">
                    <td><small>Round Neck Tshirts</small></td>
                    <td><small>Round Neck Tshirts</small></td>
                </tr>
                <tr>
                    <td><small>Fabric</small></td>
                    <td><small>Cotton</small></td>
                </tr>
                <tr>
                    <td><small>Color</small></td>
                    <td><small>Black</small></td>
                </tr>
                <tr>
                    <td><small>SKU</small></td>
                    <td><small>SA234189MO01U</small></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4 class="text-uppercase letter-spacing-1 no-margin col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <strong>
                    <i class="fa fa-chevron-left tshfatrtry3"></i>
                    نظرات
                </strong>
            </h4>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mar-top-30 mar-bot-30 comments">
                    <li class="col-lg-12 col-mg-12 col-sm-12 col-xs-12">
                        <h5>
                            <i class="fa fa-user"></i>
                            امیرحسین عرب
                            <date>
                                22:35 1399/8/20
                                <i class="fa fa-calendar"></i>
                            </date>
                        </h5>
                        <p>
                            توجه داشته باشید کلیه اصول و رویه‏‌های انتشارات جنگل منطبق با قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون حمایت از حقوق مه را کسب کرده اند.
                        </p>
                        <div class="reply">
                            <h5>
                                <i class="fa fa-user"></i>
                                ولوت
                                <date>
                                    <i class="fa fa-calendar"></i>
                                    21:15 1399/8/20
                                </date>
                            </h5>
                            <p>
                                با تشکر از همراهی شما
                            </p>
                        </div>
                    </li>
                    <li class="col-lg-12 col-mg-12 col-sm-12 col-xs-12">
                        <h5>
                            <i class="fa fa-user"></i>
                            امیرحسین عرب
                            <date>
                                22:35 1399/8/20
                                <i class="fa fa-calendar"></i>
                            </date>
                        </h5>
                        <p>
                            توجه داشته باشید کلیه اصول و رویه‏‌های انتشارات جنگل منطبق با قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز موظف به رعایت قوانین مربوطه است. در صورتی که در قوانین مندرج، رویه‏‌ها و سرویس‏‌ها تغییری ایجاد شود، در همین صفحه منتشر و به روز رسانی می شود و شما توافق می‏‌کنید که استفاده مستمر شما از سایت به معنی پذیرش هرگونه تغییر است. تعریف مشتری یا کاربر مشتری یا کاربر به شخصی گفته می‌شود که با اطلاعات کاربری خود که در فرم ثبت نام درج کرده است کسب کرده اند.
                        </p>
                    </li>
                </ul>
            </div>
            @if (ViewBag.IsUserLogin)
            {

                <form action="" method="post" autocomplete="off" id="account-form3" novalidate="novalidate">
                    <div class="form-group pad-bot-15 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="address" class="control-label text-uppercase letter-spacing-3 pad-bot-5" style="width: 100%;letter-spacing: 0px !important;">افزودن نظر</label>
                        <textarea class="form-control" name="address" id="address" maxlength="180"></textarea>
                    </div>
                    <div class="form-group pad-bot-15 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input type="submit" class="btn btn-success form-submit reg-submit" value="افزودن">
                    </div>
                </form>
            }
            else
            {
                <div class="form-group pad-bot-15 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="@Url.Action("loginandregister","CustomerSide_Register")" class="btn btn-success form-submit reg-submit">
                        برای ثبت نظر ابتدا وارد اکانت کاربری خود شوید
                    </a>
                </div>
            }
        </div>
    </div>

    <div class="container">
        <div class="row pad-top-100 cupt50">
            <div class="col-md-12 text-center" style="margin-bottom: 25px;">
                <h2 class="no-margin tshbb pad-bot-15 text-uppercase tshbb1b">پرفروش ترین محصولات</h2>
                <!--<h5 class="no-margin text-lighter"><i>Velvet Textile Gallery</i></h5>-->
            </div>
        </div>
        <div class="inner-res-margin-padding-0 row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pad-left-40 pad-right-40 no-padding-side-mobile">
                <div class="trailer trailer-inactive-mobile no-margin-top">
                    <figure onclick="redirect('https://google.com');" class="trailer-image">
                        <img alt="image" src="images/shop/trailer/bag.jpg" />
                        <figcaption>
                            <div class="trailer-center">
                                <div class="trailer-heading custom-h2-title">
                                    <h2 class="content-background">Bags</h2>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="product-info">
                    <h3 onclick="redirect('https://google.com');" class="text-darker"><a href="#"><small>نام محصول</small></a></h3>
                    <h6 class="price tshtdlt">5,000,000</h6>
                    <h6 class="price">4,500,000</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pad-left-40 pad-right-40 no-padding-side-mobile">
                <div class="trailer trailer-inactive-mobile no-margin-top">
                    <figure onclick="redirect('https://google.com');" class="trailer-image">
                        <img alt="image" src="images/shop/trailer/tshirt.jpg" />
                        <figcaption>
                            <div class="trailer-center">
                                <div class="trailer-heading custom-h2-title">
                                    <h2 class="content-background">T-shirts</h2>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="product-info">
                    <h3 onclick="redirect('https://google.com');" class="text-darker"><a href="#"><small>نام محصول</small></a></h3>
                    <h6 class="price tshtdlt">5,000,000</h6>
                    <h6 class="price">4,500,000</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pad-left-40 pad-right-40 no-padding-side-mobile">
                <div class="trailer trailer-inactive-mobile no-margin-top">
                    <figure onclick="redirect('https://google.com');" class="trailer-image">
                        <img alt="image" src="images/shop/trailer/jeans.jpg" />
                        <figcaption>
                            <div class="trailer-center">
                                <div class="trailer-heading custom-h2-title">
                                    <h2 class="content-background">Jeans</h2>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="product-info">
                    <h3 onclick="redirect('https://google.com');" class="text-darker"><a href="#"><small>نام محصول</small></a></h3>
                    <h6 class="price tshtdlt">5,000,000</h6>
                    <h6 class="price">4,500,000</h6>
                </div>
            </div>
        </div>
    </div>

</div>







@section CS_Scripts {
    <script>
        $(document).ready(function () {
            $(".pccm1").on("click", function () {
                var ThisNext = $(this).next();
                var mettDig = parseInt(ThisNext.val());
                if (mettDig <= 1) {
                    ThisNext.val(1)
                } else {
                    mettDig--;
                    ThisNext.val(mettDig)
                }
            })
            $(".mccm1").on("click", function () {
                var ThisPrev = $(this).prev();
                var mettDig = parseInt(ThisPrev.val());
                mettDig++;
                ThisPrev.val(mettDig)
            })
            $(".pccm2").on("click", function () {
                var ThisNext = $(this).next();
                var mettDig = parseInt(ThisNext.val());
                if (mettDig == 25) {
                    return false;
                } else {
                    var lastMett = mettDig - 25;
                    ThisNext.val(lastMett);
                }
            })
            $(".mccm2").on("click", function () {
                var ThisPrev = $(this).prev();
                var mettDig = parseInt(ThisPrev.val());
                if (mettDig == 75) {
                    return false;
                } else {
                    var lastMett = mettDig + 25;
                    ThisPrev.val(lastMett);
                }
            })
            $(".mmmm").on("keyup", function () {
                if ($(this).val() <= 1) {
                    $(this).val(1)
                }
            })
            $(".mmmm").on("change", function () {
                if ($(this).val() <= 1) {
                    $(this).val(1)
                }
            })
            $(".cmmm").on("change", function () {
                if ($(this).val() > 75) {
                    $(this).val(75)
                } else if ($(this).val() < 25) {
                    $(this).val(25)
                } else {
                    var ThisVal = $(this).val();
                    var lastVal = Math.ceil(ThisVal / 25) * 25;
                    $(this).val(lastVal);
                }
            })
        })
    </script>
    <script>
        var revapi;
        jQuery(document).ready(function () {
            setInterval(function () {
                $('.owl-prev').trigger('click');
            }, 3000);


            revapi = jQuery("#rev_slider_1").revolution({
                sliderType: "standard",
                sliderLayout: "fullscreen",
                fullScreenOffsetContainer: ".navigation",
                delay: 9000,
                navigation: {
                    keyboardNavigation: "off",
                    mouseScrollNavigation: "on",
                    onHoverStop: "off",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    },
                    bullets: {
                        enable: true,
                        rtl: true,
                        hide_onmobile: false,
                        style: "hebe",
                        hide_onleave: false,
                        direction: "horizontal",
                        h_align: "center",
                        v_align: "bottom",
                        h_offset: 0,
                        v_offset: 10,
                        space: 5,
                        tmp: '<span class="tp-bullet-inner"></span>'
                    }
                },
                responsiveLevels: [4096, 1024, 767, 480],
                gridwidth: 1230,
                gridheight: 720
            });

            $("#LoaderSpinner").hide(0);
        }); /*ready*/
    </script>
    <script src="js/scripts.js"></script>
    <script src="js/custom.js"></script>
    <script>
        var x, i, j, selElmnt, a, b, c;
        x = document.getElementsByClassName("custom-select");
        for (i = 0; i < x.length; i++) {
            selElmnt = x[i].getElementsByTagName("select")[0];
            a = document.createElement("DIV");
            a.setAttribute("class", "select-selected");
            a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
            x[i].appendChild(a);
            b = document.createElement("DIV");
            b.setAttribute("class", "select-items select-hide");
            for (j = 1; j < selElmnt.length; j++) {
                c = document.createElement("DIV");
                c.innerHTML = selElmnt.options[j].innerHTML;
                c.addEventListener("click", function (e) {
                    var y, i, k, s, h;
                    s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                    h = this.parentNode.previousSibling;
                    for (i = 0; i < s.length; i++) {
                        if (s.options[i].innerHTML == this.innerHTML) {
                            s.selectedIndex = i;
                            h.innerHTML = this.innerHTML;
                            y = this.parentNode.getElementsByClassName("same-as-selected");
                            for (k = 0; k < y.length; k++) {
                                y[k].removeAttribute("class");
                            }
                            this.setAttribute("class", "same-as-selected");
                            break;
                        }
                    }
                    h.click();
                });
                b.appendChild(c);
            }
            x[i].appendChild(b);
            a.addEventListener("click", function (e) {
                e.stopPropagation();
                closeAllSelect(this);
                this.nextSibling.classList.toggle("select-hide");
                this.classList.toggle("select-arrow-active");
            });
        }
        function closeAllSelect(elmnt) {
            var x, y, i, arrNo = [];
            x = document.getElementsByClassName("select-items");
            y = document.getElementsByClassName("select-selected");
            for (i = 0; i < y.length; i++) {
                if (elmnt == y[i]) {
                    arrNo.push(i)
                } else {
                    y[i].classList.remove("select-arrow-active");
                }
            }
            for (i = 0; i < x.length; i++) {
                if (arrNo.indexOf(i)) {
                    x[i].classList.add("select-hide");
                }
            }
        }
        document.addEventListener("click", closeAllSelect);
    </script>



    @*<script>

            var MPCs;
            $(document).ready(function () {
                 PostJson = {
                    'id': @Model.ProductModel.Id
                };
                $.ajax({
                    url: '/CustomerSide_Product/GetMPCs',
                    type: "post",
                    data: JSON.stringify(PostJson),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        MPCs = response;
                        console.log(MPCs);
                        CheckChanges();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            });

            function Changeee() {
                alert("Helloooooo");
                return false;
            }

            function CheckChangesSS() {
                alert("change");
                return false;
            }


            //H love programming



            function CheckChanges() {
                console.log("hellow");
            var json = '{';
            var otArr = [];
            $('.PandaSelect123').each(function (e, obj) {
                var idSelected = obj.id.replace("exampleSelect2-", "");
                var ids = $('#exampleSelect2-' + idSelected+' option:selected').val();
                if (idSelected != "") {
                    otArr.push('"' + idSelected + '":' + ids);
                }
            });
            json += otArr.join(",") + '}';

            $(MPCs).each(function (e, obj) {
                if (obj.JsonProperty == json) {

                    //if (obj.PriceXQ != obj.PriceOff) {
                    //    $('#off_price_div').text(obj.PriceXQ);
                    //} else {
                    //    $('#off_price_div').text("");
                    //}


                    if ($('#Number_inp').val() >= obj.MultyPriceStartFromQ && obj.HAsMultiPrice == 1) {
                        $("#idp").val(obj.Id);
                        $('OffVal').show();
                        $('OffVal').text("قیمت عمده");
                        if (obj.PriceShowType == 1) {
                            $('#PriceShow1').text(obj.MultyPrice);
                            $('#PriceShow2').text(obj.MultyPrice);
                        } else {
                            $('#PriceShow1').text(obj.MultyPriceXQ);
                            $('#PriceShow2').text(obj.MultyPriceXQ);
                        }

                    } else {
                        $("#idp").val(obj.Id);
                        $('OffVal').hide();
                         if (obj.PriceShowType == 1) {
                            $('#PriceShow1').text(obj.PricePerQ);
                            $('#PriceShow2').text(obj.PricePerQ);
                        } else {
                            $('#PriceShow1').text(obj.PriceXQ);
                            $('#PriceShow2').text(obj.PriceXQ);
                        }
                    }
                }

            });


        }

                ///////////////////////////



                setInterval(function () {
                    $('.owl-prev').trigger('click');
                }, 3000);


            var x, i, j, selElmnt, a, b, c;
            x = document.getElementsByClassName("custom-select");
            for (i = 0; i < x.length; i++) {
                selElmnt = x[i].getElementsByTagName("select")[0];
                a = document.createElement("DIV");
                a.setAttribute("class", "select-selected");
                a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
                x[i].appendChild(a);
                b = document.createElement("DIV");
                b.setAttribute("class", "select-items select-hide");
                for (j = 1; j < selElmnt.length; j++) {
                    c = document.createElement("DIV");
                    c.innerHTML = selElmnt.options[j].innerHTML;
                    c.addEventListener("click", function (e) {
                        var y, i, k, s, h;
                        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                        h = this.parentNode.previousSibling;
                        for (i = 0; i < s.length; i++) {
                            if (s.options[i].innerHTML == this.innerHTML) {
                                s.selectedIndex = i;
                                h.innerHTML = this.innerHTML;
                                y = this.parentNode.getElementsByClassName("same-as-selected");
                                for (k = 0; k < y.length; k++) {
                                    y[k].removeAttribute("class");
                                }
                                this.setAttribute("class", "same-as-selected");
                                break;
                            }
                        }
                        h.click();
                        CheckChanges();
                    });
                    b.appendChild(c);
                }
                x[i].appendChild(b);
                a.addEventListener("click", function (e) {
                    e.stopPropagation();
                    closeAllSelect(this);
                    this.nextSibling.classList.toggle("select-hide");
                    this.classList.toggle("select-arrow-active");
                });
            }
            function closeAllSelect(elmnt) {
                var x, y, i, arrNo = [];
                x = document.getElementsByClassName("select-items");
                y = document.getElementsByClassName("select-selected");
                for (i = 0; i < y.length; i++) {
                    if (elmnt == y[i]) {
                        arrNo.push(i)
                    } else {
                        y[i].classList.remove("select-arrow-active");
                    }
                }
                for (i = 0; i < x.length; i++) {
                    if (arrNo.indexOf(i)) {
                        x[i].classList.add("select-hide");
                    }
                }
            }
            document.addEventListener("click", closeAllSelect);
        </script>*@

}