
@{
    ViewBag.Title = "customerChangePassword";
    Layout = "~/Views/SharedViewPages/CustomerSide/CustomerMaster.cshtml";
}

<div class="container profile-bg" style="padding-top: 100px; margin-bottom: 50px;margin-top: 50px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-content" style="float: left">
        <h4>تغییر کلمه عبور</h4>
        <h5 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 title-h5">
            <i class="fa fa-chevron-left tshfatrtry3"></i>
            کلمه عبور جدید را وارد کنید
        </h5>
        <div class="form-theme form-grey">
            <form action="" method="post" autocomplete="off" id="account-form-changepw">
                <div class="form-group pad-bot-15 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label for="password" class="control-label text-uppercase letter-spacing-3 pad-bot-5" style="width: 100%;letter-spacing: 0px !important;">کلمه عبور جدید<i class="icon-lock text-right tsh-icon" style="float: left;"></i></label>
                    <input type="password" class="form-control" name="password" id="password" maxlength="60">
                </div>
                <div class="form-group pad-bot-15 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label for="rpassword" class="control-label text-uppercase letter-spacing-3 pad-bot-5" style="width: 100%;letter-spacing: 0px !important;">تکرار کلمه عبور جدید<i class="icon-lock text-right tsh-icon" style="float: left;"></i></label>
                    <input type="password" class="form-control" name="rpassword" id="rpassword" maxlength="60">
                </div>
                <div class="form-group pad-bot-15 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input type="submit" class="btn btn-success form-submit reg-submit" value="ذخیره">
                </div>
            </form>
        </div>
    </div>
</div>
