@media screen and (max-width: 567px){
    .tshbb1b {
        font-size: 18px;
    }
    .footer-title {
        font-size: 16px;
    }
    .alert-bg svg {
        width: 100px!important;
    }
    .alert-inner img {
        width: 100px!important;
        transform: translateY(15px);
    }
    .pt0-res {
        padding-top: 35px!important;
    }
    .alert-text {
        font-size: 16px!important;
    }
    .markets div {
        margin: 50px 0!important;
    }
    .tshabout {
        margin-top: 20px!important;
    }
    .select-option {
        padding-right: 0!important;
    }
    .add-cart-btn {
        margin-top: 20px;
    }
    .prod-det td {
        width: 50% !important;
        min-width: auto!important;
    }
    .filter-section {
        margin-bottom: 40px;
    }
    .pagination > li > a, .pagination > li > span {
        padding: 8px!important;
    }
    .cupt50 {
        padding-top: 50px!important;
    }
    .ppres {
        padding-right: 0!important;
        padding-left: 0!important;
    }
    .footer-copyright .row .text-left-desktop {
        line-height: 30px;
    }
    .custom-pd-mg-about {
        margin-bottom: 0!important;
    }
    .custom-nav {
        display: none;
    }
    .tshabout-h3 {
        font-size: 15px!important;
        line-height: 25px!important;
    }
    .custom-commnet-res {
        padding-top: 50px!important;
    }
    .comment-row {
        display: none;
    }
    .faq-inner h4 {
        line-height: 30px!important;
        font-size: 14px!important;
    }
    .faq-inner p {
        line-height: 25px!important;
        font-size: 12px!important;
    }
    .cus-row div {
        padding-top: 0!important;
    }
    .profile-bg {
        padding-right: 0!important;
        padding-left: 0!important;
    }
    .cart-review {
        padding-right: 0!important;
        padding-left: 0!important;
        padding-bottom: 0!important;
    }
    .log-reg-res .container-fluid {
        padding-left: 0!important;
        padding-right: 0!important;
    }
}
.footer div div>div {
    float: right;
}
.tshfamr{
    margin-right: 5px;
}
.tshfatrtry1 {
    transform: translateY(1px);
}
.tshfatrtry3 {
    transform: translateY(3px);
}
.tshsubmneu {
    display: none;
}
#home {
    margin-bottom: 50px;
}
.tshbb1b {
    position: relative;
}
.tshbb1b::before {
    position: absolute;
    top: 35%;
    right: -40px;
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: black;
}
.tshbb1b::after {
    position: absolute;
    top: 35%;
    left: -40px;
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: black;
}
.price::after {
    content: 'تومان';
    margin-right: 3px;
}
.tshbb {
    width: auto;
    display: inline-block;
}
.special {
    background-color: #dc3545!important;
    color: white;
}
.product-image {
    position: relative;
}
.menu-basket {
    position: relative;
}
.menu-basket span {
    position: absolute;
    font-family: IRANSansWeb;
    font-size: 10px;
    top: -15px;
    right: -15px;
    display: inline-block;
    border: 1.2px solid white;
    border-radius: 50%;
    width: 17px;
    text-align: center;
    line-height: 17px;
    height: 17px;
}
.shopping-cart-trigger {
    color: white!important;
}
.nav-shop-fullscreen {
    text-align: center;
}
.shopping-cart-slide .title span {
    display: block;
}
.cart-item-price {
    line-height: 30px;
}
.grand-total div {
    text-align: center;
}
.tshtdlt {
    text-decoration:line-through;
    opacity: .6;
    margin-bottom: 5px!important;
}
.content-background {
    font-size: 14px!important;
}
.product-image img {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}
.prd-img img:hover {
    transform: scale(1.04) !important;
}
.tshabout {
    text-align: justify;
    line-height: 30px;
}
.social-icons li a i {
    display: inline-block;
    transform: translateY(2px);
}
.social-icons {
    margin-top: 10px!important;
}
.tshcolorwhite {
    color: white!important;
}
.tshaftertel {
    direction: ltr!important;
}
.tshbeforetel::before {
    content: '021-';
}
.footer-content {
    font-size: 14px;
    line-height: 25px;
    margin: 5px 0!important;
}
.badges {
    margin: 5px 0;
}
.badges img {
    width: 100%;
    height: 120px;
}
footer iframe {
    margin-top: 10px;
}
.content-content {
    background-color: red;
}
.tshmtb10 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-title {
    position: relative;
    padding-right: 15px;
}
.footer-title::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-60%);
}
.ftr-title-2 {
    padding-right: 30px;
}
.ftr-title-2::before {
    transform: translate(-15px,-2px);
    background-color: white!important;
}
.tshcontact span {
    display: block;
    margin: 5px auto;
    line-height: 40px;
}
.tshcontact-h4 {
    margin-bottom: 10px!important;
}
.tshcontact i {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 10px;
}
.markets i:(.soc-icon) {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 10px;
}
.markets iframe {
    transform: translateY(-2px);
    border: 1px solid black;
}
.markets .footer-title {
    margin-bottom: 0!important;
}
.tshtextjus {
    text-align: justify;
}
.tshabout-h3 {
    width: 100%;
    font-size: 20px;
}
.tshcomments {
    height: 150px;
}
.tshdisblock{
    display: block;
}
.tshmt {
    margin-top: 20px;
}
.tshcomments .item {
    margin-top: 30px;
}
.tshmt2 {
    margin-top: 100px;
}
.tshdirltr {
    direction: ltr!important;
}
.panel-body h6 {
    margin: 10px 0;
}
.filter-section input[type=checkbox] {

}
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 15px;
    width: 15px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    z-index: 1000;
    margin: 0!important;
    transform: translateY(-9px);
}
.option-input:hover {
    background: #9faab7;
}
.option-input:checked {
    background: black;
}
.option-input:checked::before {
    height: 15px;
    width: 15px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 10px;
    text-align: center;
    line-height: 17px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.filters-colors h6 {
    width: auto!important;
    display: inline-block!important;
}
.filters-colors .option-input:checked {
    background: !important;
}
.filters-colors .option-input:checked::before {
    color: white!important;
    width: 10px;
    height: 10px;
    background-color: black!important;
    font-size: 7px!important;
    line-height: 10px;
}
.selection-active {
    background-color: rgba(0,0,0,.1);
}
.price-range-slider {
    width: 100%;
    float: left;
    padding: 10px 0;
}
.price-range-slider .range-value {
    margin: 0;
}
.price-range-slider .range-value input {
    width: 100%;
    background: none;
    color: #000;
    font-size: 16px;
    font-weight: initial;
    box-shadow: none;
    border: none;
    margin: 0 0 20px 0;
}
.price-range-slider .range-bar {
    border: none;
    background: #000;
    height: 3px;
    width: 96%;
    margin-left: 8px;
}
.price-range-slider .range-bar .ui-slider-range {
    background: #06b9c0;
}
.price-range-slider .range-bar .ui-slider-handle {
    border: none;
    border-radius: 25px;
    background: #fff;
    border: 2px solid #06b9c0;
    height: 17px;
    width: 17px;
    top: -0.52em;
    cursor: pointer;
}
.price-range-slider .range-bar .ui-slider-handle + span {
    background: #06b9c0;
}
.tshmbcust {
    margin: 0;
}
.rules-ul {
    list-style-type: none;
}
.rules-ul li::before {
    content: '-';
}
.rules-div h4 {
    margin-top: 30px;
    display: inline-block;
    margin-bottom: 12px!important;
    padding-bottom: 0!important;
}
.rules-div {
    text-align: justify;
}
.rules-div p {
    margin-bottom: 20px;
}
@media screen and (max-width: 768px){
    .select-option {
        float: right;
        width: 100% !important;
    }
}
.select-shop input {
    transform: translateY(3px);
}
.select-option {
    float: right;
    width: 44%;
    margin: 0 3%;
}
.select-option span , .select-shop span {
    border-bottom: 1px solid black;
    padding: 10px 15px;
    margin-bottom: 10px;
    display: inline-block;
}
.custom-select {
    width: 100% !important;
    position: relative;
    font-family: Arial;
    margin-bottom: 20px;
}
.custom-select select {
    display: none; /*hide original SELECT element:*/
}
.select-selected {
    background-color: transparent;
    border: 1px solid black!important;
}
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    left: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #000 transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #000 transparent;
    top: 7px;
}
.select-items div,.select-selected {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;

}
.select-items {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    color:black;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999999;
}
.select-items div:hover {
    background-color: black!important;
    color: white!important;
}
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(255, 255, 255, 0.1);
}
.same-as-selected {
    background-color: black!important;
    color: white!important;
}
.select-shop {
    display: inline-block;
    float: right;
}
.select-shop .container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.select-shop .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.select-shop .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 25px;
    transform: scale(.7) translateY(-5px);
    background-color: #eee;
    border-radius: 50%;
}
.select-shop .container:hover input ~ .checkmark {
    background-color: #ccc;
}
.select-shop .container input:checked ~ .checkmark {
    background-color: #000;
}
.select-shop .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.select-shop .container input:checked ~ .checkmark:after {
    display: block;
}
.select-shop .container .checkmark:after {
    top: 11px;
    left: 11px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.prod-det tr td {
    min-width: 200px;
}
#shop-carousel {
    margin-top: 40px!important;
}
.prd-dtl-p0 {
    margin-top: 10px;
    padding: 0!important;
}
.desc-title {
    font-size: 18px;
}
.title-no-border {
    border: none!important;
    font-size: 15px!important;
    padding-right: 0!important;
}
.option-input.radio {
    border-radius: 50%;
    z-index: 0!important;
    transform: translateY(-10px);
}
.option-input.radio::after {
    border-radius: 50%;
}
.radio-custom label {
    display: block;
}
.price-title {
    font-weight: normal!important;
    display: block;
    font-size: 14px;
    margin-top: 10px;
}
.tshspbb {
    float: left;
}
.tshspbb div {
    display: inline-block!important;
}
.tshspbb-right {
    text-align: right;
    float: right;
    padding: 0;
}
.tshspbb-left {
    text-align: left;
    float: left;
    padding: 0;
}
.tshspbb .price {
    font-size: 22px;
    font-weight: 900!important;
}
.tshspbb-right-off span {
    font-size: 16px!important;
}
.select-shop .radio-custom b {
    cursor: pointer;
    font-weight: normal;
}
.select-shop .radio-custom label {
    display: inline-block;
    width: auto;
    float: right;
    clear: right;
}
.shcartaftermr0::after {
    margin-right: 0!important;
}
.cart-bottom div {
    font-weight: 900!important;
}
.coupon-trigger {
    font-weight: 900;
}
.coupon-error , .coupon-success{
    color: #dc3545;
    display: none;
    margin-top: 5px;
}
.coupon-success {
    color: #28a745;
}
.coupon-input.disabled {
    background-color: rgba(0,0,0,.08)!important;
}
.coupon-remove {
    background-color: #dc3545;
    border-color: #dc3545!important;
}
.coupon-remove:hover {
    background-color: #cb3140!important;
}
.coupon-remove:focus {
    background-color: #dc3545!important;
}
.desc-ul {
    list-style-type: none;
}
.desc-ul li {
    margin: 5px 0;
}
.desc-ul li::before {
    content: '-';
    margin-left: 5px;
}
.cart-no-item {
    display: none;
    text-align: center;
    margin-top: 10px;
}
.show-no-item {
    display: block!important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.tsh-icon {
    transform: translateY(7px);
}
.login-submit , .reg-submit {
    float: left;
}
label.error {
    color: #dc3545;
    margin-top: 3px;
    position: absolute;
}
.forgot-password-bg {
    background-color: rgba(0,0,0,.4);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
.change-mobile-bg {
    background-color: rgba(0,0,0,.4);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
.forgot-password-inner {
    z-index: 9999;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    background-color: white;
    padding-bottom: 20px;
    padding-top: 5px;
}
.change-mobile-inner {
    z-index: 9999;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    background-color: white;
    padding-bottom: 20px;
    padding-top: 5px;
}
.forgot-password-inner h5 {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin-bottom: 20px;
}
.change-mobile-inner h5 {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin-bottom: 20px;
}
.forgot-password-inner h5 i {
    cursor: pointer;
    transition: all ease .5s;
}
.change-mobile-inner h5 i {
    cursor: pointer;
    transition: all ease .5s;
}
.forgot-password-inner h5 i:hover {
    opacity: .5;
}
.change-mobile-inner h5 i:hover {
    opacity: .5;
}
.forgot-password-inner input[type=submit] {
    float: left;
}
.change-mobile-inner input[type=submit] {
    float: left;
}
.forgot-password-inner i {
    float: left;
}
.change-mobile-inner i {
    float: left;
}
.factor-success span {
    background-color: #28a745;
}
.factor-danger span {
    background-color: #dc3545;
}
.cart-review div.text-success {
    color: #28a745;
    font-weight: 900;
}
.verify-submit {
    display: block;
    margin: 0 auto;
}
.verify-error {
    color: #dc3545;
    display: none;
    margin-top: 5px;
    text-align: center;
}
.verify-error-show {
    display: block!important;
}
.resend-code {
    margin-top: 5px;
}
.resend-code span {
    cursor: pointer;
    transition: all ease .5s;
}
.resend-code span:hover {
    opacity: .6;
}
.change-phone-label span {
    cursor: pointer;
    transition: all ease .5s;
}
#verify-form {
    text-align: center;
}
.change-phone-label span:hover {
    opacity: .6;
}
.verify-label {
    text-align: center;
    display: inline-block!important;
    width: auto!important;
    margin-top: 15px;
    margin-left: 8px;
    margin-right: 8px;
}
.codebox {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid black;
    background-color: transparent;
}
.profile-bg div h4 {
    background-color: #f5f6f7;
    height: 47px;
    line-height: 47px;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid black;
    margin-bottom: 30px;
}
.profile-menu ul {
    list-style-type: none;
    border: 3px solid #f5f6f7;
}
.profile-menu ul li {
    height: 45px;
    line-height: 45px;
    padding-right: 15px;
    border-bottom: 1px solid #f5f6f7;
}
.profile-menu ul li.active {
    background-color: black;
}
.profile-menu ul li.active a {
    color: white!important;
}
.profile-content .form-group {
    float: right;
}
.title-h5 {
    margin-bottom: 30px;
}
.form-group #address {
    width: 100%;
    height: 150px;
    resize: none;
}
.custom-select-profile option:checked {
    background-color: black!important;
    color: white!important;
}
.detail-grp {
    display: none;
}
.history-item {
    margin: 30px 0!important;
}
.modal-backdrop {
    display: none!important;
}
.text-success-custom {
    color: #28a745;
}
.text-danger-custom {
    color: #dc3545;
}
.text-warning-custom {
    color: #ffc107;
}
.radio-custom label {
    display: inline-block;
    float: right;
    clear: right;
}
.radio-custom label b {
    cursor: pointer;
}
.circle{fill:none;stroke:#28a745;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.circle-dash{fill:none;stroke:#28a745;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.check{fill:none;stroke:#28a745;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.check-dash{fill:none;stroke:#28a745;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.check {
    stroke-dasharray: 60 100;
    animation: check 1.2s cubic-bezier(0.5, 0, 0.6, 1) forwards 0.15s;
    -webkit-animation: check 1.2s cubic-bezier(0.5, 0, 0.6, 1) forwards 0.15s;
    -moz-animation: check 1.2s cubic-bezier(0.5, 0, 0.6, 1) forwards 0.15s;
    -o-animation: check 1.2s cubic-bezier(0.5, 0, 0.6, 1) forwards 0.15s;
    opacity: 0;
}
@-webkit-keyframes check {
    from {stroke-dashoffset: 60;
        opacity: 1;}

    to {stroke-dashoffset: 00;
        opacity: 1;}
}
@-moz-keyframes check {
    from {stroke-dashoffset: 60;
        opacity: 1;}

    to {stroke-dashoffset: 00;
        opacity: 1;}
}
@keyframes check {
    from {stroke-dashoffset: 60;
        opacity: 1;}

    to {stroke-dashoffset: 00;
        opacity: 1;}
}
.check-dash {
    stroke-dasharray: 10 100;
    animation: check-dash 1.2s cubic-bezier(0.5, 0, 0.6, 1) forwards;
    -webkit-animation: check-dash 1.2s cubic-bezier(0.5, 0, 0.6, 1) forwards;
    -moz-animation: check-dash 1.2s cubic-bezier(0.5, 0, 0.6, 1) forwards;
    -o-animation: check-dash 1.2s cubic-bezier(0.5, 0, 0.6, 1) forwards;
}
@-webkit-keyframes check-dash {
    from {stroke-dashoffset: 120;}
    to {stroke-dashoffset: 45;}
}
@-moz-keyframes check-dash {
    from {stroke-dashoffset: 120;}
    to {stroke-dashoffset: 45;}
}
@keyframes check-dash {
    from {stroke-dashoffset: 120;}
    to {stroke-dashoffset: 45;}
}
.circle {
    stroke-dasharray: 300 300;
    animation: circle 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards 0.15s;
    -webkit-animation: circle 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards 0.15s;
    -moz-animation: circle 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards 0.15s;
    -o-animation: circle 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards 0.15s;
    opacity: 0;
}
@-webkit-keyframes circle {
    from {stroke-dashoffset:300;
        opacity: 1;}
    to {stroke-dashoffset:0;
        opacity: 1;}
}
@-moz-keyframes circle {
    from {stroke-dashoffset:300;
        opacity: 1;}
    to {stroke-dashoffset:0;
        opacity: 1;}
}
@keyframes circle {
    from {stroke-dashoffset:300;
        opacity: 1;}
    to {stroke-dashoffset:0;
        opacity: 1;}
}
.circle-dash {
    stroke-dasharray: 10 300;
    animation: circledash 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards 0.05s;
    -webkit-animation: circledash 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards 0.05s;
    -moz-animation: circledash 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards 0.05s;
    -o-animation: circledash 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards 0.05s;
    opacity: 0;
}
@-webkit-keyframes circledash {
    from {stroke-dashoffset:320;
        opacity: 1;}
    to {stroke-dashoffset: 20;
        opacity: 1;}
}
@-moz-keyframes circledash {
    from {stroke-dashoffset:320;
        opacity: 1;}
    to {stroke-dashoffset: 20;
        opacity: 1;}
}
@keyframes circledash {
    from {stroke-dashoffset:320;
        opacity: 1;}
    to {stroke-dashoffset: 20;
        opacity: 1;}
}
.alert-text {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    color: #28a745;
    font-weight: 900;
    font-size: 24px;
    margin-top: -10px;
}
.alert-bg , .alert-bg2 {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
}
.alert-inner {
    background-color: white;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
.alert-inner .fa-close {
    font-size: 80px;
    font-weight: 100;
}
.alert-inner img {
    width: 130px;
}
.danger-color {
    color: #dc3545!important;
}
.alert-inner .fa-times {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 20px;
    transition: all ease .5s;
    cursor: pointer;
}
.alert-inner .fa-times:hover {
    opacity: .4;
}
.faq {
    float: left;
    padding-bottom: 50px;
}
.faq-inner {
    float: left;
}
.faq-inner ul {
    width: 100%;
    height: auto;
    margin: 20px auto 0 auto;
    border: 1px solid black;
}
.faq-inner li {
    color: black!important;
    text-align: right;
    overflow: hidden;
    display: block;
    height: auto;
    border: 1px solid black;
}
.faq-inner li:last-child {
    border-bottom: 1px solid transparent;
}
.faq-inner h4 {
    line-height: 60px;
    color: black;
    cursor: pointer;
    transition: all ease .3s;
    margin: 0!important;
    padding-right: 15px;
}
.faq-inner i {
    float: left;
    color: black;
    line-height: 60px;
    margin-left: 15px;
    color: #0f2137;
}
.faq-inner p {
    text-align: justify;
    margin-left: 20px;
    line-height: 28px;
    margin-top: 10px;
    margin-right: 20px;
    display: none;
    color: black;
}
.faq-active {
    background-color: rgba(0,0,0,1);
    color: white!important;
}
.faq-active i {
    color: white!important;
}
.custom-check-reg input {
    border: none!important;
    transform: translateY(-8px) !important;
    height: 15px!important;
    width: 15px!important;
    background-color: white!important;
}
.custom-check-reg a {
    color: black!important;
    border-bottom: 2px solid transparent;
    transition: all ease .5s;
}
.custom-check-reg a:hover {
    color: black!important;
    border-bottom: 2px solid black!important;
}
.custom-check-reg #ghinput-error {
    transform: translate(15px,22px);
}